#profile{

  ul li{
    list-style: none;

    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--gray-300);
    border-radius: 99px;
    padding: 8px 16px;
  }

  ul{
    display: flex;
    flex-direction: row;

    gap: 16px;
  }

  #arrowDown{
    margin-top: 96px;
  }

  #description{
    max-width: 680px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .description{
      margin-block: 56px 80px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1{
        margin-block: 8px 20px;
      }
    }
  }
}

#jobs{

  margin-top: 0px;

  .subtitle{
    color: var(--red);
  }

  #cards{
    margin-top: 56px;

    .card{
      width: 330px;
      background-color: var(--gray-300);
      border-radius: 12px;
      padding: 12px;
    
      img {
        width: 306px;
        border-radius: 8px;
        margin-bottom: 20px;
      }

      p{
        margin-top: 8px;        
      }
    }
  }
}

#services{
  margin-top: 0;
  background-color: var(--gray-100);

  .sectionTitle{
    margin-bottom: 56px;

    .subtitle{
      color: var(--red);
    }

    h2{
      margin-top: 8px;
    }
  }

  #cards{
    
    .card{
      width: 280px;
      border: 1px solid var(--gray-200);
      border-radius: 12px;

      display: flex;
      flex-direction: column;
      padding: 20px;

      img{
        width: 48px;
        height: 48px;

        margin-bottom: 20px;
      }

      p{
        margin-top: 8px;
      }
    }
  }
}

#contacts{

  .container{
    padding-bottom: 70px;
  }

  .sectionTitle{
    margin-bottom: 48px;

    .subtitle{
      color: var(--purple);
    }

    h2{
      margin-block: 8px;
    }
  }

  #links{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  a {
    width: 400px;
    padding: 20px;

    background-color: var(--gray-300);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
  
    div{
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}